.ait3__blog-container_article-image img {
	width: 100%;
	display: block;
}
.ait3__blog-container_article-content {
	color: #fff;
	background-color: var(--color-blog);
	padding: 30px;
}
.ait3__blog-container_article-content p {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}

.ait3__blog-container_article-content .post-date {
	font-weight: normal;
	margin-bottom: 20px;
	margin: 0;
}
.ait3__blog-container_article-content h3 {
	font-family: var(--font-family);
	font-size: 24px;
	font-weight: 800;
	line-height: 28px;
	margin-bottom: 15px;
	cursor: pointer;
}
.ait3__blog-container_article-content_btn {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	margin-bottom: 0;
	color: var(--color-subtext);
}

@media screen and (max-width: 1200px) {
	.ait3__blog-container_article-content h3 {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 1rem;
	}
}
@media screen and (max-width: 550px) {
	.ait3__blog-container_article-content h3 {
		font-size: 18px;
		line-height: 25px;
	}
}
